.timeline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.timeline-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin: 10px 0;
}

.line {
    width: 2px;
    height: 40px;
    background-color: white;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animate-fadeIn {
    animation: fadeIn 0.5s ease-in-out;
}

/* Add this to your Deposit.css file */
@media (max-width: 768px) {
    .timeline-container {
      padding: 0;
    }
  
    .circle {
      width: 30px;
      height: 30px;
      font-size: 14px;
    }
  
    .line {
      height: 20px !important;
    }
  
    .ml-8 {
      margin-left: 0;
    }
  
    .px-12 {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  
    .w-12 {
      width: 30px;
      height: 30px;
    }
  
    .h-40 {
      height: 100px;
    }
  
    .mt-24 {
      margin-top: 2rem;
    }
  
    .min-h-800px {
      min-height: auto;
    }
  }